/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.forge-config {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.forge-config-block {
  border: 1px solid black;
}
