.command-block {
  display: flex;
}

.command-block-left {
  margin-right: auto;
}

.command-heading {
  margin-top: 0;
  margin-bottom: 0;
}

.command-description {
  color: var(--text-muted);
  font-size: var(--font-ui-smaller);
  margin-top: 0;
}
