.command-heading {
  margin-bottom: 0;
}

.command-description {
  color: var(--text-muted);
  font-size: var(--font-ui-smaller);
  margin-top: 0;
}

.forge-config-block {
  border: var(--border-width) solid black;
  border-radius: var(--radius-s);
  padding: 1rem;
}

.forge-config-heading {
  margin-top: 0;
}

.new-command-form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
