.value-type-heading {
  margin-bottom: 0;
}

.value-type-description {
  color: var(--text-muted);
  font-size: var(--font-ui-smaller);
  margin-bottom: 0.75rem;
}

.options-list {
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap);
}

.option-row {
  display: flex;
  gap: var(--grid-gap);
}

.option-row-head {
  display: flex;
  width: 2rem;
}

.option-row-inputs {
  display: flex;
  flex-grow: 1;
  gap: var(--grid-gap);
}

.option-row-input {
  display: block;
  width: 50%;
}

.option-row-foot {
  width: 10rem;
}

.choice-commands {
  grid-column: 3/5;
}

.hidden {
  display: none;
}

.choice-section {
  display: contents;
}
