.property-list {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: auto 1fr auto auto;
}

.property {
  display: contents;
}

.property-value {
  grid-column: 2/5;
  margin: var(--grid-gap) 0;
}
