.property-list {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: auto 1fr auto;
}

.property {
  grid-column: span 3;
  display: grid;
  grid-template-columns: subgrid;
}

.property-value {
  grid-column: 2/4;
}

.collapse-button {
  display: inline;
  border-color: red;
}
